name: Mac OS build

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - fixes
      - develop
      - release/*
    tags:
      - 'v[0-9]+.*'
  pull_request:
    branches:
      - master
      - fixes
      - develop
      - release/*

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  mosquitto:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Print compiler versions
        run: |
          which clang
          which clang++
          clang --version

      - name: pin cmake to 3.x series
        uses: jwlawson/actions-setup-cmake@09fd9b0fb3b239b4b68d9256cd65adf8d6b91da0
        with:
          cmake-version: '3.31.6'

      - name: vcpkg build
        uses: johnwason/vcpkg-action@v6
        id: vcpkg
        with:
          manifest-dir: ${{ github.workspace }}
          triplet: x64-osx
          token: ${{ github.token }}
          github-binarycache: true

      - name: Configure CMake
        run: |
          cmake -B ${{github.workspace}}/build64 \
            -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
            -DWITH_WEBSOCKETS=ON \
            -DWITH_TESTS=OFF \
            -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake \
            -DVCPKG_MANIFEST_MODE=ON
      - name: Build
        run: cmake --build ${{github.workspace}}/build64 --config ${{env.BUILD_TYPE}}
